<h1>login</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Login</button>
</form>

<li><a href="/register">sign up</a></li>
<li><a href="/logout">logout</a></li>